.container-prices{
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 600px) { /*Smartphone*/
    .box-prices{
        width: 350px;
        height: 500px;
        background-color: #1abc9c;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        color: #ECF0F1;
        font-weight: 700;
        margin:10px;
        font-weight: 100;
    }
    .icon-raio svg {
        width: 20px;
        display: inline;
        position: relative;
        left: -250px;
        bottom: -42.5px;
        border-radius: 30px;
    }


}




@media only screen and (min-width: 600px) { /*Computador*/

    .box-prices{
        width: 500px;
        height: 500px;
        background-image: linear-gradient(#1abc9c, #1d8570);
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        color: #ECF0F1;
        font-weight: 700;
        margin:10px;
        transition: 1.1s ease-in-out;
    }


    .icon-raio svg {
        width: 20px;
        display: inline;
        position: relative;
        left: -240px;
        bottom: -42.5px;
        border-radius: 30px;
    }


}



.price-btc-img{
    margin-top: 50px;
    height: 156px;
    background: url(../images4/cryptos-images/BTC.png) center center/156px no-repeat;
    font-size: 0;
   
}
.price-trx-img{
    margin-top: 50px;
    height: 156px;
    background: url(../images4/cryptos-images/TRON.png) center center/156px no-repeat;
    font-size: 0;
    
}

.input-value-ghs{
    border: solid 2px #000;
    text-align: center;
    background-color: transparent;
    height: 36.5px;
    border: auto;
    border-radius: 20px;
    color: #ECF0F1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
 }


.btn-comprar-ghs{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 200px;
    padding-top:10px;
    padding-bottom:10px;
    background-color: #ECF0F1;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
    color: #1abc9c;
    transition: 0.4s ease-in-out;
}
.btn-comprar-ghs:hover{
    background-color: #1abc9c;
    color: #ECF0F1;
    transition: 0.4s ease-in-out;
}




::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ECF0F1;
    
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ECF0F1;
   opacity:  1;
   
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ECF0F1;
   opacity:  1;
   
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #ECF0F1;
   
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #ECF0F1;
   
}

::placeholder { /* Most modern browsers support this now. */
   color:    #ECF0F1;
   
}
